<div class="row">
<section class="small-12 columns">
	<p>
		No paper, no pen? No problem! Let's make some madlibs online. Click the button below to get started.
	</p>
	<%= link_to "Get Started", new_path, class: "large button" %> 
</section>
</div>

