
<!-- <h1>MadLib#index</h1>
<p>Find me in app/views/mad_lib/index.html.erb</p>

<%= link_to "Scary Lib", mad_lib_new_path %> -->



<div class="row">
	<section class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 column">
		<section class="madlib-header row animated zoomIn">
			<div class="media-object stack-for-small">
			  <div class="media-object-section">
			    <div class="thumbnail">
			      <img src="http://files.gamebanana.com/img/ico/sprays/jurassicpark1.gif">
			    </div>
			  </div>
			  <div class="media-object-section madlib-title">
			    <h1>Mad Libs</h1>
				<h2>A Seattle ChickTech Workshop</h2>
			  </div>
			</div>
		</section>
	</section>
	<section class="small-12 medium-8 medium-offset-2">
		<p>
			No paper, no pen? No problem! Let's make some madlibs online. Click the button below to get started.
		</p>
		<!-- this is wrong... --> 
		<button class="large button" href="fill_in_blanks.html">
			<%= link_to "Scary Lib", mad_lib_new_path %> -->
		</button>
	</section>
</div>

