<!DOCTYPE html>
<html>
<head>
	<!-- Foundation stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css" rel="stylesheet" type="text/css">
	<!-- google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Neuton:800|Nunito|Walter+Turncoat' rel='stylesheet' type='text/css'>

	<!-- animate css from https://github.com/daneden/animate.css -->
	<link rel="stylesheet" href="http://s.mlcdn.co/animate.css">
	<!-- our styles -->
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>Mad Libs</title>
</head>
<body>
	<section class="madlib-container">
		<section class="madlib-header row">
			<div class="madlib-title small-12 columns">
				<h1>Mad Libs</h1>
				<h2>Let's get silly... or some other subtitle</h2>
			</div>
		</section>

		<section class="madlib-form row">
			<div class="small-12 medium-6 columns">
				<h3>Step #1:</h3>
			</div>
			<div class="small-12 medium-6 columns">
				<label>Choose your Madlib style
				  <select>
				    <option value="opt1">Blank</option>
				    <option value="opt2">Silly</option>
				    <option value="opt3">Scary</option>
				    <option value="apollo">Lorem Ipsum</option>
				  </select>
				</label>
			</div>
			<div class="small-12 columns">
				<hr>
			</div>
		</section>
		<section class="madlib-form">
			<div class="small-12 columns">
				<h3>Step #2:</h3>
				<p>Fill out the below adjectives, nouns, adverbs and verbs accordingly.</p>
			</div>
			<form>
			<!-- repeat as necessary -->
			  <div class="row">
			    <div class="medium-6 columns">
			      <label>Input Label
			        <input type="text" placeholder=".medium-6.columns">
			      </label>
			    </div>
			    <div class="medium-6 columns">
			      <label>Input Label
			        <input type="text" placeholder=".medium-6.columns">
			      </label>
			    </div>
			  </div>
			<!-- end repeat -->
			<!-- submit -->
				<div class="small-12 columns">
					<hr>
				</div>
				<div class="small-12 columns">
					<h3>Step #3:</h3>

					<%= link_to "Generate MadLib", create_path  %>
					</button>
				</div>

			</form>
		</section>
	</section>
</body>
</html>
