<div class="row">
	<section class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 column">
		<section class="madlib-header row">
			<div class="media-object stack-for-small">
			  <div class="media-object-section">
			    <div class="thumbnail">
			    <%= image_tag "chicktech.png" %>

			    </div>
			  </div>
			  <div class="media-object-section madlib-title">
			    <h1>Mad Libs</h1>
					<h2>[title of selected madlib]</h2>
			  </div>
			</div>
		</section>
		<section class="madlib-body row">
			<div class="small-12 columns">
				<hr>
			</div>
			<div class="small-12 columns">
				<p>[This is just an example]</p>
				<p>"John, the kind of <span class="fill_in_word">control</span> you're attempting is not possible. If there's one thing the history of evolution has taught us, it's that <span class="fill_in_word">Life</span> will not be contained. <span class="fill_in_word">Life</span> breaks free. It expands to new territories. It crashes through barriers. Painfully, maybe even dangerously, but and...well, there it is." Ellie <span class="fill_in_word">listens</span> to him, impressed. Watch her head - support her head. Grant, ignoring the others, picks up the baby <span class="fill_in_word">dinosaur</span>, and holds it on the palm of his hand, under the incubator's heat light. He spreads the tiny animal out on the back of his hand and delicately runs his finger over its tail, counting the vertebrae. A look of puzzled recognition crosses his <span class="fill_in_word">face</span>. "You're implying that a group of composed entirely of <span class="fill_in_word">females</span> will breed?" "I'm simply saying that life - - finds a <span class="fill_in_word">way</span>.</p>
			</div>
			<div class="small-12 columns">
				<hr>
			</div>
			<div class="small-12 columns">

				</a>
				<%= link_to "Play Again!", mad_lib_new_path, class: "large button" %>
			</div>
		</section>
	</section>
</div>
