<!DOCTYPE html>
<html>
<head>
  <title>MadLibs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css" rel="stylesheet" type="text/css">
<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=Neuton:800|Nunito|Walter+Turncoat' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
